<a href="https://colab.research.google.com/github/KRISHAANK4384/Java-Lab-/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=23
a

23

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
num = 31
if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

31 is an odd number.

In [ ]:
num1 = 54
num2 = 45
sum = num1 + num2
print(f"The sum of {num1} and {num2} is {sum}")

The sum of 54 and 45 is 99

In [ ]:
principal = 1000
rate = 5
time = 2
simple_interest = (principal * rate * time) / 100

print(f" {simple_interest}")

 100.0

In [ ]:
import math

radius = 5
area = math.pi * radius ** 2 # Assuming the user meant radius squared for area

print(f" {area}")

 78.53981633974483

In [ ]:
string = "hello and welcome to world"
capitalized_string = string.capitalize()
print(f" {string}")
print(f"{capitalized_string}")

 hello and welcome to world
Hello and welcome to world

In [ ]:
text = "Hello bro!"
casefolded_text = text.casefold()
print(f"Original text: {text}")
print(f"Casefolded text: {casefolded_text}")

Original text: Hello bro!
Casefolded text: hello bro!

In [ ]:
string="hello"
x=string.center(100)
print (x)

                                               hello

In [ ]:
fruits = ["apple", "banana", "cherry","mango","apple"]

x = fruits.count("apple")
print(f": {x}")

: 2

In [ ]:
txt = "My name is Anthony Gonslaves"

x = txt.encode()

print(x)

b'My name is Anthony Gonslaves'

In [ ]:
string = "Hello, welcome to my page"

x = string.endswith("my page")

print(x)

True

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(10)

print(x)

H         e         l         l         o

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("to")

print(x)

15

In [ ]:
num1 = 10
num2 = 20

print(f"{num1}, {num2}")

temp = num1
num1 = num2
num2 = temp

print(f"{num1}, {num2}")

10, 20
20, 10

In [ ]:
num = 63
print(f" {num}:")
for i in range(1, 11):
  print(f"{num} x {i} = {num * i}")

 63:
63 x 1 = 63
63 x 2 = 126
63 x 3 = 189
63 x 4 = 252
63 x 5 = 315
63 x 6 = 378
63 x 7 = 441
63 x 8 = 504
63 x 9 = 567
63 x 10 = 630

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

number = 7
result = factorial(number)
print(f" {number}  {result}")

 7  5040

In [ ]:
import math

def distance(x1, y1, x2, y2):

  return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
x1, y1 = 1, 2
x2, y2 = 3,4
dist = distance(x1, y1, x2, y2)
print(f" ({x1}, {y1}) and ({x2}, {y2}) is {dist}")

 (1, 2) and (3, 4) is 2.8284271247461903

In [ ]:
num = 34512
ones_place_digit = num % 10
print(f"{num}  {ones_place_digit}")

34512  2

In [ ]:
num = 1234
reversed_num = 0
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
print(f"The reversed number is: {reversed_num}")

The reversed number is: 4321

In [ ]:
number = int(input("Enter a number: "))
digit_count = len(str(abs(number)))
print(f" {number} is: {digit_count}")

Enter a number: 2789
 2789 is: 4

In [ ]:
def count_characters(input_string):
  """Counts the occurrences of each character in a string."""
  char_counts = {}
  for char in input_string:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

# Example usage:
my_string = "thank you"
character_counts = count_characters(my_string)
print(f"Character counts for '{my_string}':")
for char, count in character_counts.items():
  print(f"'{char}': {count}")

Character counts for 'thank you':
't': 1
'h': 1
'a': 1
'n': 1
'k': 1
' ': 1
'y': 1
'o': 1
'u': 1

In [ ]:
input_string = input("Enter a string: ")
print(f"Original string: {input_string}")

vowels = "aeiouAEIOU"
string_without_vowels = ""

for char in input_string:
  if char not in vowels:
    string_without_vowels += char

print(f"String without vowels: {string_without_vowels}")

Enter a string: hello
Original string: hello
String without vowels: hll

In [ ]:
students = {}

while True:
    print("\n===== STUDENT COURSE MANAGEMENT SYSTEM =====")
    print("1. Add Student and their Courses")
    print("2. Show All Students with Courses")
    print("3. Exit")

    choice = input("Enter your choice (1-3): ")

    if choice == "1":
        name = input("Enter Student Name: ")
        courses = input("Enter courses (comma separated): ").split(",")
        students[name] = set(course.strip().title() for course in courses)
        print("Student added successfully.")

    elif choice == "2":
        if not students:
            print("No students found!")
        else:
            for name, courses in students.items():
                print(name, ":", courses)
    elif choice == "3":
        print("Exiting Program")
        break

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit